<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Actividad_3.Properties.Settings.Zapateria_UmiConnectionString"
            connectionString="Data Source=DESKTOP-GF9TVV9\SQLEXPRESS;Initial Catalog=Zapateria_Umi;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>